<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category.charAt(0).toUpperCase() + category.slice(1) %> Machines</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="p-5">

        <% switch (category) {
            case "cardio":
                %>
                <h2 class="display-6 text-center fw-bold">Cardio Machines</h2>
                <p class="text-center">Cardio workouts are often seen as the bedrock of a fitness workout, helping to work out your heart and respiratory system. Shop the range of cardio machines at GymEquipment.co.uk and find an unbeatable variety of machines including treadmills, cross trainers, bikes, steppers, and rowing machines. </p>
                <%
                break;
            
                case "strength":
                %>
                <h2 class="display-6 text-center fw-bold">Strength Equipment</h2>
                <p class="text-center">Take your strength training to the next level with our range of strength equipment and accessories. Strength training will improve your power, strength, balance and posture if you train the right way. From professional bodybuilders to working out in your home, we can help you achieve your fitness goals. From multigyms and cable machines, to weight benches and wall bars, we've got all the machines you need to boost your strength.</p>
                <%
                break;

                case "free_weights":
                %>
                <h2 class="display-6 text-center fw-bold">Free Weights</h2>
                <p class="text-center">Using free weights is the perfect way to build strength or tone those muscles at home or in the gym. Whether you choose a barbell or a set of dumbbells, you can target key muscles with simple but effective workouts. Shop everything from Olympic bars and plates, through to dumbbells and a range of weightlifting accessories at GymEquipment.co.uk. With brands including Jordan Fitness and Physical Company, we choose to stock only high-quality, cost-effective gym equipment.</p>
                <%
                break;

                case "crossfit":
                %>
                <h2 class="display-6 text-center fw-bold">Functional Fitness & CrossFit Machines</h2>
                <p class="text-center">Shop for functional fitness equipment and CrossFit machines at GymEquipment.co.uk, where you’ll find everything you need for your HYROX workout or HIIT training. Although they have different training principles, CrossFit and functional fitness do have a lot in common and therefore share some of the same training tools. Explore the full collection below.</p>
                <%
                break;

                case "pilates":
                %>
                <h2 class="display-6 text-center fw-bold">Pilates Equipment & Machines</h2>
                <p class="text-center">Explore the full range of Pilates equipment and machines at GymEquipment.co.uk where you'll find everything from resistance machines and towers to a wide selection of Pilates accessories to help you achieve your fitness goals, whatever your skill level is. Shop top brands like Merrithew, Align Pilates and Physical Company for your Pilates studio, home or commercial gym.</p>
                <%
                break;

                case "studio":
                %>
                <h2 class="display-6 text-center fw-bold">Studio Fitness Equipment & Accessories</h2>
                <p class="text-center">Transform your fitness studio into a powerhouse of results with our premium range of studio fitness equipment at GymEquipment.co.uk. Whether you're a seasoned exercise enthusiast or a studio owner looking to upgrade, our top-of-the-line products will elevate your workout space to new heights. Say hello to peak performance and goodbye to ordinary gym setups.</p>
                <%
                break;

                case "gym_flooring":
                %>
                <h2 class="display-6 text-center fw-bold">Gym Flooring</h2>
                <p class="text-center">Whether it's for commercial, residential gyms or garages, strength or CV only, gym flooring is the one essential piece of equipment that's often forgotten despite its importance. Protect your floors with rubber gym flooring, add a custom sprint or sled track, or define zones — all for less than you think with Gymmington.</p>
                <%
                break;
        } %> 
        
    </div>

    <div class="container text-center row">
        <div class="col-4 px-5">
            <h2 class="pb-5">Shopping Options</h2>
            <h3>Price</h3>
            <form id="filterForm">
                <div class="container border-top pt-5 mb-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Min Price</span>
                        <input type="number" class="form-control" placeholder="£0" id="minPrice" name="minPrice">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Max Price</span>
                        <input type="number" class="form-control" placeholder="£0" id="maxPrice" name="maxPrice">
                    </div>
                </div>

                <h3>Manufacturer</h3>
                <div class="container ps-2 pt-5 ms-2 border-top">
                        <% manufacturer_list.forEach(manufacturer => { %>
                            <div class="input-group">
                                    <input class="form-check-input mt-2" style="border: 1px solid black" type="checkbox" value="<%= manufacturer %>" name="manufacturer" id="<%= manufacturer %>">
                                <label class="lead ms-3 " for="<%= manufacturer %>"><%= manufacturer %></label>
                            </div>
                        <% }) %>
                </div>
                <input type="hidden" id="page" name="page" value="1">
                <button type="submit" class="btn text-white container-fluid mt-5" style="background-color: var(--color1);">Filter</button>
            </form>
        </div>

        <div class="text-center col-8">
            <% if (products.length > 0) { %>
                <div class="row row-cols-3 row-gap-3">
                    <% products.forEach(product => { %>
                        <div class="col">
                            <div class="card text-center card-hover">
                                <img src="images/equipment_images/<%= product.name %>.jpg" class="card-img-top" alt="equipment-image">
                                <div class="card-body">
                                    <h5 class="card-title" style="height: 80px;"><%= product.name %></h5>
                                    <h4 class="card-text mb-3">£<%= product.price %></h4>
                                    <button class="btn text-white" style="background-color: var(--color1);">More info</button>
                                    <button class="btn text-white" style="background-color: var(--color2);">Buy Now</button>
                                </div>    
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="mt-4 text-start">
                    <label for="page">Page:</label>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <button class="btn btn-sm text-white" style="background-color: var(--color2);" onclick="changePage(<%= i %>)"><%= i %></button>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>

    <hr class="mt-5 mx-auto" style="width: 80%;">

    <div class="container-fluid text-center p-5">
        <p class="lead mx-5">
            If you want to help build your fitness and protect yourself against heart disease, then cardio is the way to go. Here, you'll find a wide selection of gym cardio machines designed for a wide range of cardio workouts, from walking and running to cycling and rowing.

            Exercise bikes are perhaps the most popular piece of cardio equipment. These offer low impact workouts that are great for joints. You might also be interested in our selection of spin bikes, perfect for spinning classes. Along with the exercise bike, treadmills are the most used gym equipment in any gym or studio, allowing you to run or walk from the comfort of a dry and warm environment.

            Also in our collection is the rowing machine, which offers a full body workout, including upper body conditioning. Finally, our cardio gym equipment also includes cross trainers and steppers, which offer a low impact, medium- to high-intensity workout that's perfect for beginners. Looking for something more intense? Take a look at our collection of HIIT machines, which includes HIIT Skier machines and more.

            Cardio machines form the foundation of any good gym space, so shop the collection at GymEquipment.co.uk to get started. Why not enquire about our expert gym room design service? We'll do everything from the initial design to choosing the equipment and fitting out your space, so you can create the perfect fitness studio for your needs.
        </p>
    </div>

    <%- include("partials/footer.ejs") %>

    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
